:root {
  --number:16
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8e69f;
  font-family: 'Trebuchet MS', sans-serif;
}

button {
  margin-bottom:20px;
  padding:10px;
  font-size:16px;
  background-color: rgb(102, 238, 102);
  color:white;
  border-radius: 15px;
  border:0;
}


#container {
    display:flex;
    background-color:white;
    flex-wrap: wrap;
    width:920px;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.square {
    flex: 1;
    min-width: calc(100% / var(--number));
    aspect-ratio: 1 / 1;
}

.title {
  color:black;
}