body {
  display: flex;
  flex-direction: column;
  gap:20px;
  justify-content: center;
  align-items: center;
}

button {
  padding:10px;
}


#container {
    margin: auto;
    padding: 10px;
    display:flex;
    background-color: rgba(255, 149, 10, 0.623);
    flex-direction: row;
    flex-wrap: wrap;
    width:320px;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.square {
    padding: 10px;
    background-color: black;
    flex-basis:6,25% 
}